=begin
#VMware Fusion API 1.2.0

#REST API Explorer

OpenAPI spec version: 1.2.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module VMWareFusionClient
  class VMManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a copy of the VM
    # @param params Parameters of VM to create
    # @param [Hash] opts the optional parameters
    # @return [VMInformation]
    def create_vm(params, opts = {})
      data, _status_code, _headers = create_vm_with_http_info(params, opts)
      data
    end

    # Creates a copy of the VM
    # @param params Parameters of VM to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(VMInformation, Fixnum, Hash)>] VMInformation data, response status code and response headers
    def create_vm_with_http_info(params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VMManagementApi.create_vm ...'
      end
      # verify the required parameter 'params' is set
      if @api_client.config.client_side_validation && params.nil?
        fail ArgumentError, "Missing the required parameter 'params' when calling VMManagementApi.create_vm"
      end
      # resource path
      local_var_path = '/vms'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.vmware.vmw.rest-v1+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.vmware.vmw.rest-v1+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(params)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VMInformation')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VMManagementApi#create_vm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes a VM
    # @param id ID of VM
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vm(id, opts = {})
      delete_vm_with_http_info(id, opts)
      nil
    end

    # Deletes a VM
    # @param id ID of VM
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_vm_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VMManagementApi.delete_vm ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VMManagementApi.delete_vm"
      end
      # resource path
      local_var_path = '/vms/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.vmware.vmw.rest-v1+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.vmware.vmw.rest-v1+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VMManagementApi#delete_vm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Returns a list of VM IDs and paths for all VMs
    # @param [Hash] opts the optional parameters
    # @return [Array<VMID>]
    def get_all_v_ms(opts = {})
      data, _status_code, _headers = get_all_v_ms_with_http_info(opts)
      data
    end

    # Returns a list of VM IDs and paths for all VMs
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VMID>, Fixnum, Hash)>] Array<VMID> data, response status code and response headers
    def get_all_v_ms_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VMManagementApi.get_all_v_ms ...'
      end
      # resource path
      local_var_path = '/vms'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.vmware.vmw.rest-v1+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.vmware.vmw.rest-v1+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<VMID>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VMManagementApi#get_all_v_ms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Returns the VM setting information of a VM
    # @param id ID of VM
    # @param [Hash] opts the optional parameters
    # @return [VMInformation]
    def get_vm(id, opts = {})
      data, _status_code, _headers = get_vm_with_http_info(id, opts)
      data
    end

    # Returns the VM setting information of a VM
    # @param id ID of VM
    # @param [Hash] opts the optional parameters
    # @return [Array<(VMInformation, Fixnum, Hash)>] VMInformation data, response status code and response headers
    def get_vm_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VMManagementApi.get_vm ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VMManagementApi.get_vm"
      end
      # resource path
      local_var_path = '/vms/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.vmware.vmw.rest-v1+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.vmware.vmw.rest-v1+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VMInformation')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VMManagementApi#get_vm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates the VM settings
    # @param id ID of VM
    # @param parameters VM definition
    # @param [Hash] opts the optional parameters
    # @return [VMInformation]
    def update_vm(id, parameters, opts = {})
      data, _status_code, _headers = update_vm_with_http_info(id, parameters, opts)
      data
    end

    # Updates the VM settings
    # @param id ID of VM
    # @param parameters VM definition
    # @param [Hash] opts the optional parameters
    # @return [Array<(VMInformation, Fixnum, Hash)>] VMInformation data, response status code and response headers
    def update_vm_with_http_info(id, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VMManagementApi.update_vm ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VMManagementApi.update_vm"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VMManagementApi.update_vm"
      end
      # resource path
      local_var_path = '/vms/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.vmware.vmw.rest-v1+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.vmware.vmw.rest-v1+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VMInformation')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VMManagementApi#update_vm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
